<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <title>HomeObserve WebLog</title>
    </head>
    <body>
        <div id='content_container' class='content'>
        {% if hostname %}<h3>{{ hostname }}</h3>
        <h4><a href='..'>back</a></h4>
        {% endif %}
            <table>
            {% for entry in result %}
                <tr>
                    <td><a href='{{ entry.shortname }}'>{{ entry.shortname }}</a></td>
                    <td class='{% if entry.status =='Online' %}green{% elif entry.status == 'Offline' %}red{% endif %}'>{{ entry.status }}</td>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.ipv4 }}</td>
                    <td>{{ entry.ipv6 }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
